[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
httpx = "*"
boto3 = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
black = "*"
pre-commit = "*"
pytest-django = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
